
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registration Form</title>
<link rel="stylesheet" th:href="@{/styles/add_product_styles.css}">
</head>
<body>
	<script>
		//Load Image File
		var loadFile = function(event) {
			var image = document.getElementById('output');
			image.src = URL.createObjectURL(event.target.files[0]);
		};

//cost validation
function cost_valid()
{
let cost = document.getElementById("cost").value;
let msg;
if (isNaN(cost)) {
				msg = "Cost Should Be a Number";
				alert(msg);
			} else if (cost < 1) {
				msg = "Cost Should Be Greater than 1";
				alert(msg);
			}
}
//List Price Validation
function price_valid()
{
let listPrice = document.getElementById("listPrice").value;
let msg;
 if (isNaN(listPrice)) {
				msg = "List Price Should Be a Number";
				alert(msg);
			} else if (listPrice < 1) {
				msg = "List Price Should Be Greater than 1";
				alert(msg);
			} 

}
//Discount Validation
function dis_valid()
{
let discount = document.getElementById("discount").value;
			let msg;
			if (isNaN(discount)) {
				msg = "Discount Should Be a Number";
				alert(msg);
			} else if (discount < 1) {
				msg = "Discount Should Be Greater than 1";
				alert(msg);
			} 
			 
}
		
	</script>
	<div class="wrapper">
		<div class="title">Add Product</div>
		<form action="http://localhost:8080/eshop/products/addNew/sucess/"
			method="post" enctype="multipart/form-data">
			<div class="form">
				<div class="inputfield">
					<label>Product Name</label> <input type="text" class="form-control"
						required="required" name="productName">
				</div>
				<div class="inputfield">
					<label>Brand</label> <select class="form-control" name="brand"
						id="brand">
						<option value="AliExpress">AliExpress</option>
						<option value="Daraz">Daraz</option>
						<option value="Alibaba">Alibaba</option>
						<option value="Amazon">Amazon</option>
					</select>

				</div>
				<div class="inputfield">
					<label>Category </label>
					<select class="form-control" name="category" th:each="category : ${category}">
										<option   th:value="${category.category_name}"  th:text="${category.category_name}"></option>
										</select >
<!--					<input type="text" class="form-control" required="required" name="category">  -->
				</div>
				<div class="inputfield">
					<label>Status</label> <select class="form-control" name="status"
						id="status">
						<option value="0">Not Available</option>
						<option value="1">Available</option>
					</select>
				</div>
				<div class="inputfield">
					<label>Cost</label>
					<div class="custom_select">
						<input type="text" onfocusout="cost_valid()" class="form-control"
							required="required" name="cost" id="cost">
					</div>
				</div>
				<div class="inputfield">
					<label>List Price</label> <input type="text" class="form-control"
						required="required" name="listPrice" onfocusout="price_valid()" id="listPrice">
				</div>
				<div class="inputfield">
					<label>Discount</label> <input type="text" class="form-control"
						required="required" name="discount" onfocusout="dis_valid()" id="discount">
				</div>
				<div class="inputfield">
					<label>Image</label> <input required="required" type="file"
						onchange="loadFile(event)" th:name="imagefile">
					<p>
						<img id="output" width="100px" height="100px" />
					</p>
				</div>

				<div class="inputfield">
					<label>Specification</label>
					<textarea style="resize: vertical;" type="text" class="textarea"
						required="required" name="specification"></textarea>

				</div>
				<div class="inputfield">
					<label>Description</label>
					<textarea style="resize: vertical;" type="text" class="textarea"
						required="required" name="Description"></textarea>

				</div>




				<div class="inputfield terms">
					<label class="check"> <input type="checkbox"> <span
						class="checkmark"></span>
					</label>
					<p>Agreed to terms and conditions</p>
				</div>
				<div class="inputfield">
					<input type="submit" class="form-control btn btn-primary"
						 value="Save">

				</div>

				<div class="inputfield">

					<input type=" " class="form-control btn btn-primary" value="Back">
				</div>
			</div>
	</div>
</body>
</html>