
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registration Form</title>
<link rel="stylesheet" th:href="@{/styles/add_product_styles.css}">
</head>
<body>
	<script>
		//Load Image File
		var loadFile = function(event) {
			var image = document.getElementById('output');
			image.src = URL.createObjectURL(event.target.files[0]);
		};

//cost validation
function cost_valid()
{
let cost = document.getElementById("cost").value;
let msg;
if (isNaN(cost)) {
				msg = "Cost Should Be a Number";
				alert(msg);
			} else if (cost < 1) {
				msg = "Cost Should Be Greater than 1";
				alert(msg);
			}
}
//List Price Validation
function price_valid()
{
let listPrice = document.getElementById("listPrice").value;
let msg;
 if (isNaN(listPrice)) {
				msg = "List Price Should Be a Number";
				alert(msg);
			} else if (listPrice < 1) {
				msg = "List Price Should Be Greater than 1";
				alert(msg);
			} 

}
//Discount Validation
function dis_valid()
{
let discount = document.getElementById("discount").value;
			let msg;
			if (isNaN(discount)) {
				msg = "Discount Should Be a Number";
				alert(msg);
			} else if (discount < 1) {
				msg = "Discount Should Be Greater than 1";
				alert(msg);
			} 
			 
}
		
	</script>
	<div class="wrapper">
		<div class="title">Add Product</div>
		<form action="http://localhost:8080/eshop/products/addNew/sucess/"
			method="post" enctype="multipart/form-data">
			<div class="form">
				<div class="inputfield">
					<label>Product Name</label> <input type="text" class="form-control"
						required="required" name="productName">
				</div>
				<div class="inputfield">
					<label>Brand</label> <select class="form-control" name="brand"
						id="brand">
						<option value="AliExpress">AliExpress</option>
						<option value="Daraz">Daraz</option>
						<option value="Alibaba">Alibaba</option>
						<option value="Amazon">Amazon</option>
					</select>

				</div>
				<div class="inputfield">
					<label>Category </label>
					<select class="form-control" name="category" >
										<option th:each="category : ${category}"   th:value="${category.category_name}"  th:text="${category.category_name}"></option>
										</select >
                 <!--  	<input type="text" class="form-control" required="required" name="category">  -->
				</div>
				<div class="inputfield">
					<label>Status</label> <select class="form-control" name="status"
						id="status">
						<option value="0">Not Available</option>
						<option value="1">Available</option>
					</select>
				</div>
				<div class="inputfield">
					<label>Cost</label>
					<div class="custom_select">
						<input type="text" onfocusout="cost_valid()" class="form-control"
							required="required" name="cost" id="cost">
					</div>
				</div>
				<div class="inputfield">
					<label>List Price</label> <input type="text" class="form-control"
						required="required" name="listPrice" onfocusout="price_valid()" id="listPrice">
				</div>
				<div class="inputfield">
					<label>Discount</label> <input type="text" class="form-control"
						required="required" name="discount" onfocusout="dis_valid()" id="discount">
				</div>
				<div class="inputfield">
					<label>Image</label> <input required="required" type="file"
						onchange="loadFile(event)" th:name="imagefile">
					<p>
						<img id="output" width="100px" height="100px" />
					</p>
				</div>

				<div class="inputfield">
					<label>Specification</label>
					<textarea style="resize: vertical;" type="text" class="textarea"
						required="required" name="specification"></textarea>

				</div>
				<div class="inputfield">
					<label>Description</label>
					<textarea style="resize: vertical;" type="text" class="textarea"
						required="required" name="Description"></textarea>

				</div>




				<div class="inputfield terms">
					<label class="check"> <input type="checkbox"> <span
						class="checkmark"></span>
					</label>
					<p>Agreed to terms and conditions</p>
				</div>
				<div class="inputfield">
					<input type="submit" class="form-control btn btn-primary"
						 value="Save">

				</div>

				<div class="inputfield">

					 <a href="http://localhost:8080/eshop/products/ViewProducts" class="btn btn-danger m-5"><center>Cancel </center></a>
				</div>
			</div>
	</div>

</body>
</html>














<!-- <!DOCTYPE html>
<html>

<head>
<meta charset="ISO-8859-1">
<title>Add New Product</title>
</head>

<body class="body" id="body" name="body">
	<style>
table {
	border-collapse: separate;
	border-spacing: 15px;
}

td {
	padding: 5px;
}
</style>
    <link rel="stylesheet" th:href="@{/styles/add_product_styles.css}" />
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous">


	<script>
		//Load Image File
		var loadFile = function(event) {
			var image = document.getElementById('output');
			image.src = URL.createObjectURL(event.target.files[0]);
		};

		//Number Validation
		function validation() {
			let cost = document.getElementById("cost").value;
			let listPrice = document.getElementById("listPrice").value;
			let discount = document.getElementById("discount").value;
			let msg;
			if (isNaN(cost)) {
				msg = "Cost Should Be a Number";
				alert(msg);
			} else if (cost < 1) {
				msg = "Cost Should Be Greater than 1";
				alert(msg);
			} else if (isNaN(listPrice)) {
				msg = "List Price Should Be a Number";
				alert(msg);
			} else if (listPrice < 1) {
				msg = "List Price Should Be Greater than 1";
				alert(msg);
			}

			else if (isNaN(discount)) {
				msg = "Discount Should Be a Number";
				alert(msg);
			} else if (discount < 1) {
				msg = "Discount Should Be Greater than 1";
				alert(msg);
			} 

		}
	</script>
	<br>
	<br>
	<br>
	<div class="row">
		<div class="col-md-6"
			style="width: 10px; border: 3px solid black; padding: 50px; margin: 20px; height: 600px; margin-left: 30%;">
			<div class="mx-auto" style="width: 1000px; height: 700px;">
				<div class="container">
					<h1 style="margin-left: 17%;">Add New Product</h1>
					<form action="http://localhost:8080/eshop/products/addNew/sucess/"
						method="post" enctype="multipart/form-data">
						<table>
							<div class="inputfield">
								<tr>
									<td>Product Name</td>
									<td><input type="text" class="form-control"
										required="required" name="productName"></td>
									<td>Brand</td>
									<td><select class="form-control" name="brand" id="brand">
											<option value="Hemas">Hemas</option>
											<option value="Uniliver">Uniliver</option>
											<option value="Hayleys">Hayleys</option>
											<option value="Embark">Embark</option>
									</select></td>
								</tr>
							</div>

							<div class="form-group">
								<tr>
									<td>Category</td>
									<td><select class="form-control" name="category" th:each="category : ${category}">
										<option   th:value="${category.category_name}"  th:text="${category.category_name}"></option>
										
										</select ></td>
									<td>Status</td>
									<td><select class="form-control" name="status" id="status">
											<option value="0">Not Available</option>
											<option value="1">Available</option>
									</select></td>
								</tr>
							</div>
							<div class="form-group">
								<tr>
									<td>Cost</td>
									<td><input type="text" class="form-control"
										required="required" name="cost" id="cost"></td>
									<td>List Price</td>
									<td><input type="text" class="form-control"
										required="required" name="listPrice" id="listPrice"></td>
									<td></td>
								</tr>
							</div>

							<div class="form-group">
								<tr>
									<td>Discount</td>
									<td><input type="text" class="form-control"
										required="required" name="discount" id="discount"></td>
									<td>Image</td>
									<td><input required="required" type="file"
										onchange="loadFile(event)" th:name="imagefile"></td>
								</tr>
							</div>
							<div class="form-group">
								<tr>
									<td>Specification</td>
									<td><textarea style="resize: vertical;" type="text"
											class="form-control" required="required" name="specification"></textarea></td>
									<td>Description</td>
									<td><textarea style="resize: vertical;" type="text"
											class="form-control" required="required" name="description"></textarea>
									</td>
									<td></td>

									<p>
										<img id="output" width="80px" height="80px" />
									</p>
								</tr>
							</div>

						</table>
						<br>
						<div class="row">
							<div style="margin-left: 12%;" class="col-md-3">
								<div class="form-group">
									<input type="submit" onclick="validation()"
										class="form-control btn btn-primary" value="Save">

								</div>
							</div>
							<div style="margin-left: 7%;" class="col-md-3">
								<div class="form-group">
									<a href="" class="form-control btn btn-danger">Back</a>

								</div>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

</body>

</html> -->