
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Shop - product page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet" 
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" th:href="@{/styles/style.css}" />
    <link rel="stylesheet" th:href="@{/styles/product.css}" />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar bg">
      <ul class="links-container">
        <li class="link-item"><a href="#" class="link active">Home</a></li>
        <li class="link-item"><a href="http://localhost:8080/eshop/products/ViewProducts" class="link">Product</a></li>
        <li class="link-item"><a href="#" class="link">About</a></li>
        <li class="link-item"><a href="#" class="link">Contact</a></li>
      </ul>
      <div class="user-interactions">
        <div class="cart">
          <img th:src="@{/img/cart.png}" alt="cart-icon" class="cart-icon" />
          <span class="cart-item-count">00</span>
        </div>
        <div class="user">
          <img th:src="@{/img/user.png}" alt="user-icon" class="user-icon" />
        </div>
      </div>
    </nav>

    <!-- product detail section -->
    <section class="product-section">
      <img th:src="'http://localhost:8080/productphotos/'+${product.productId}+'.jpg'" alt="productImg" class="product-image" />
      <div class="product-detail">
        <h1 class="product-title" th:text="${product.productName}"></h1>
        <p class="product-desc" th:text="${product.description}">
         
        </p>
        <div class="ratings">
          <img th:src="@{/img/fill star.png}" alt="starRatings" class="star" />
          <img th:src="@{/img/fill star.png}" alt="starRatings" class="star" />
          <img th:src="@{/img/fill star.png}" alt="starRatings" class="star" />
          <img th:src="@{/img/fill star.png}" alt="starRatings" class="star" />
          <img th:src="@{/img/no fill star.png}" alt="starRatings" class="star" />
          <span class="rating-count">4,023 reviews</span>
        </div>
        <br><br>
        <div class="row">
        <h1><i class="fa fa-inr"th:text="${product.listPrice}+''" aria-hidden="true"></i></h1>
        &nbsp; &nbsp;
        
        <h4><del  th:text="${product.cost}"></del></h4>
        &nbsp; &nbsp;
        <h3 class="text-success"th:text="${product.discount}+'%'+off" ></h3>
      </div>
      <br><br>
      
      <div class="row">
        <p><i class="text-success fa fa-check-square-o" aria-hidden="true"></i> <strong>Bank Offer</strong> 20% Instant Discount on SBI Credit Cards</p>
        <p><i class="text-success fa fa-check-square-o" aria-hidden="true"></i> <strong>Bank Offer</strong> 5% Unlimited Cashback on Flipkart Axis Bank Credit Card </p>
        <p><i class="text-success fa fa-check-square-o" aria-hidden="true"></i> <strong>Bank Offer</strong> Extra 5% off* with Axis Bank Buzz Credit Card</p>
        <p><i class="text-success fa fa-check-square-o" aria-hidden="true"></i> <strong>Bank Offer</strong>20% Instant Discount on pay with <i class="fa fa-google-wallet" aria-hidden="true"></i> google wallet </p>
      </div>
      
        
    </section>

    
     <section class="detail-desc">
      <h1 class="section-title">Specification</h1>
      <p class="desc" th:text="${product.specification}">
       
      </p>
    </section>
    
  

    

    <!-- footer section -->
    <footer>eShop</footer>

    <!-- scripts -->
    <script th:src="@{/js/product.js}"></script>
  </body>
</html>






















<!-- <!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<meta charset="ISO-8859-1">
<style>
	table {
		border-collapse: separate;
		border-spacing: 15px;
	}

	td {
		padding: 5px;
	}
</style>
<title>Product Details</title>
</head>
<body>
	<div class="row">
		<div class="col-md-7" style="width: 100px;border: 3px solid black;padding: 50px;margin: 20px;height: 900px;margin-left: 20%;">
			<div class="mx-auto" style="width: 900px; height: 700px;">
				<div class="container"></div>
				<h1 style="font-family:'Courier New'; font-weight: bolder;  margin-left: 20%;">Product Description</h1>
				<img style="margin-left: 35%;" th:src="'http://localhost:8080/productphotos/'+${product.productId}+'.jpg'" width="200px" height="200px">
				<table th:each="product : ${product}">
					
					<tr>
						<td style="font-weight: bolder;font-family:'Courier New';">Product Id :</td>
						<td th:text="${product.productId}"> </td>
					</tr>
					<tr>
						<td style="font-weight: bolder;font-family:'Courier New';">Product Name :</td>
						<td th:text="${product.productName}"> </td>
					</tr>
					<tr>
						<td style="font-weight: bolder;font-family:'Courier New';">Brand :</td>
						<td th:text="${product.brand}"> </td>
					</tr>
					<tr>
						<td style="font-weight: bolder;font-family:'Courier New';">Category :</td>
						<td th:text="${product.category}"> </td>
					</tr>
					<tr>
						<td style="font-weight: bolder;font-family:'Courier New';">Status :</td>
						<td th:text="${product.status}"> </td>
					</tr>
					<tr>
						<td style="font-weight: bolder;font-family:'Courier New';">Cost :</td>
						<td th:text="${product.cost}"> </td>
					</tr>
					<tr>
						<td style="font-weight: bolder;font-family:'Courier New';">List Price :</td>
						<td th:text="${product.listPrice}"> </td>
					</tr>
					<tr>
						<td style="font-weight: bolder;font-family:'Courier New';">Discount :</td>
						<td th:text="${product.discount}"> </td>
					</tr>
					<tr>
						<td style="font-weight: bolder;font-family:'Courier New';">Description :</td>
						<td th:text="${product.description}"> </td>
					</tr>
					<tr>
						<td style="font-weight: bolder;font-family:'Courier New';">Specification :</td>
						<td th:text="${product.specification}"> </td>
					</tr>
			
			
				</table>
				<br>
				<a  style="margin-left: 10%;" class="btn btn-primary col-md-2" href="http://localhost:8080/eshop/products/ViewProducts">Back</a>
			</div>
		</div>
	</div>

	

</body>
</html> -->